# Ansible
*.retry
.vault-password
.vault_pass
vault_pass.txt
*.vault-pass
ansible/.galaxy/
ansible/.facts-cache/
ansible/*.log

# Python
__pycache__/
*.pyc
.venv/

# Inventory cache / secrets
inventory/*.cache
group_vars/**/vault.yml.plain

# IDE
.vscode/
.idea/
.DS_Store
